table thead tr .sm {
  width: 150px;
}

table thead tr .md {
  width: 200px;
}

table thead tr .lg {
  width: 300px;
}

table thead tr th {
  font-weight: 500;
  font-size: 13px;
  /* width: 350px; */
}

table tbody tr td {
  /* font-weight: 500; */
  font-size: 12px;
  /* width: 50px; */
}

table tbody tr td :is(.btn-action-icon, a) {
  color: var(--main-font-color);
  cursor: pointer;
  font-size: 20px;
}