table thead tr .sm {
  width: 150px;
}

table thead tr .md {
  width: 200px;
}

table thead tr .lg {
  width: 300px;
}

table thead tr th {
  font-weight: 600;
  font-size: 13px;
  /* width: 350px; */
}

table tbody tr td {
  /* font-weight: 400; */
  font-size: 12px;
  /* width: 50px; */
}

table tbody tr td :is(.btn-action-icon, a) {
  color: var(--main-font-color);
  cursor: pointer;
  font-size: 20px;
}

table tbody tr td :is(.primary):hover {
  color: var(--primary-color);
}

table tbody tr td .btn-action-icon.danger:hover {
  color: var(--danger-color);;
}

table tbody tr td :is(.font-bold) {
  font-weight: 500;
}

table tbody tr td :is(.custom-badge-primary, .custom-badge-secondary, .custom-badge-danger) {
  border-radius: 50rem !important;
}

.custom-badge-primary {
  background-color: rgba(13, 110, 253, 0.2) !important;
  color: rgba(13, 110, 253, 1) !important;
}

.custom-badge-secondary {
  background-color: rgba(108,117,125, 0.2) !important;
  color: rgba(108,117,125, 1) !important;
}

.custom-badge-danger {
  background-color: rgba(220,53,69, 0.2) !important;
  color: rgba(220,53,69, 1) !important;
}